# --- Core Data Science & ML ---
pandas
numpy
scikit-learn
xgboost
imbalanced-learn

# --- Explainability & Optimization ---
shap
lime
optuna

# --- Visualization ---
matplotlib
seaborn
tqdm

# --- Network Traffic & Attacks ---
scapy
requests

# --- Jupyter Environment ---
ipykernel
notebook